# Modeling - Logistic Regression

What is it?
- a machine learning algorithm used for predicting categorical target variables
- Pipeline: Plan - Acquire - Prepare - Explore - **Model** - Deliver

Why do we care?
- we can predict future target variables based on the model we build! 

How does it work?
- [slides we already saw](https://docs.google.com/presentation/d/1uK_PLp_gjowSTUEIhPyJrniuHFXN4waR/edit?usp=sharing&ouid=110448495992573862737&rtpof=true&sd=true)

How do we use it?
- acquire, prepare, explore our data
- split data for modeling
- build models on train
    - create rules based on our input data
- evaluate models on train & validate
    - see how our rules work on unseen data
- pick best of the best model, and evaluate bestest model on test

In [107]:
import numpy as np
import pandas as pd
import math

from sklearn.metrics import classification_report, confusion_matrix

import acquire
import prepare

#new import!

### Acquire

In [108]:
df = acquire.get_iris_data()

csv file found and loaded

In [109]:
df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

### Prepare

In [110]:
df = prepare.prep_iris(df)

In [111]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### We will utilize binary classification

#### Predict if species is virginica or not

In [112]:
# Binary classification - predict if species is non-virginica or virginica
# change setosa and versicolor to '0' and virginica to 1

In [69]:
#split my data
train, validate, test = prepare.my_train_test_split(df, 'species')

## Explore

ONLY USING TRAIN!

completed the following steps on my features and target variable
1. hypothesize
2. visualize
3. analyze
4. summarize

these steps arent written out here, however, i found that petal width and petal length identified species the most

### Modeling

split into features and target variable
- need to do this on my train, validate, and test dataframe
- will end up with the following variables:
    - X_train, X_validate, X_test: all the features we plan to put into our model
    - y_train, y_validate, y_test: the targete variable

In [76]:
X_train = train.drop(columns='species')
y_train = train.species

In [77]:
X_validate = validate.drop(columns='species')
y_validate = validate.species

In [78]:
X_test = test.drop(columns='species')
y_test = test.species

#### sklearn modeling process

1. 
2. 
3.

In [114]:
#take a look at predictions

In [115]:
# View raw probabilities (output from the model)

In [117]:
#score

In [118]:
#classification report

In [119]:
#coef

In [121]:
#columns

### change hyperparameter
#### Regularization:
- Keep model simple
- Constraints the coefficients


#### C = Inverse of regularization strength:

- Lower C is higher regularization
- Lower C discourages learning more complex model

In [132]:
# Change hyperparameter C = 0.01

In [133]:
# fit the model

In [134]:
# make prediction

In [136]:
# score

In [137]:
#classification report

### Evaluate Model 1 and 2 performance on 'Validate'